.contenedor{
    width: 1300px;
    height: 1000px;
    border: 1px solid black;
    background-color: aliceblue;
    margin: auto;
    
}

.header{
    height: 15%;
    background-color: antiquewhite;
    margin: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.nav{
    height: 8%;
    background-color: aqua;
    margin-top: 10px;
    margin: 5px;
    border-radius: 10px;


}

.contenido{
    height: 50%;
    background-color: blueviolet;
    margin: 5px;
}

.footer{
    height: 24%;
    background-color: coral;
    margin: 0px 5px 0px 5px;

}

.section{
    height: 100%;
    width: 55%;
    background-color: darkgoldenrod;
    float: left;
    margin: 5px;
}

.aside{
    height: 100%;
    width: 30%;
    background-color: darkred;
    float: right;
    margin: 5px;
}

.articulo{
    weight: 90%;
    height: 20%;
    background-color: darkslategray;
    margin: 5px;



}